/* navbar css */
.navbar-brand {
    padding: 15px;
}

/* body css home page */
.header_one{
    text-align: center;
}

.header_two{
    text-align: center;
}

#title{
    color: white;
}

/* tenant page */

.signup_form{

}